body{
  text-align: center;
}
h1{
  padding-top: 20px;
  padding-bottom: 30px;
}
h3{
  text-align: center;
  padding-bottom: 15px;
}
h4{
  padding-bottom: 10px;
}
.userStoryBox{
  max-width: 800px;
  background-color: #E3FDE3;
  border-style: dotted;
  border-radius: 17px;
  text-align: justify;
}
.highlight{
  background-color: #CAE2FD;
  border-radius: 5px;
  color: #A53131;
}
p{
  margin: 0;
}
footer{
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #E3FDE3;
  padding:10px;
  border-top-style: dotted;
}